<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://angular.jp/assets/images/press-kit/angular_wordmark_gradient.png"
      cardTitle="SAIU NOVA VERSÃO DO ANGULAR"
      cardDescription="Teste teste teste"
    ></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      cardTitle="Nova Série anunciada no Disney +"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStSUczeprRvyhDBrEwGsNom3lK62rNMXjgKw&s"
    ></app-small-card>
    <app-small-card
      cardTitle="Nova Série anunciada no Disney +"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStSUczeprRvyhDBrEwGsNom3lK62rNMXjgKw&s"
    ></app-small-card>
    <app-small-card
      cardTitle="Nova Série anunciada no Disney +"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStSUczeprRvyhDBrEwGsNom3lK62rNMXjgKw&s"
    ></app-small-card>
  </div>
</div>
